div.qnbuttons_wrapper {
	overflow: auto;
}

div.other_nav {
	margin: .5em 0;
}

.navigation_buttons {
	text-align: center;
}

.navigation_button {
	margin-left: 20px;
	margin-right: 20px;
}

.qnbutton {
	width: 35px;
    height: 45px;
    margin: 0 5px 5px 0;
    color: #51666c;
    background-color: #eee;
    border: 0;
    border-radius: 4px;
    line-height: 25px;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    display: block;
    position: relative;
    float: left;
}

.qnbutton.thispage .thispageholder {
    border: 3px solid #1f536b;
}

.qnbutton.correct .trafficlight {
	background-color: #8bc34a;
}

.qnbutton.incorrect .trafficlight {
	background-color: #f44336;
}

.thispageholder {
	display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	border-radius: 4px;
	border: 1px solid #999;
	z-index: 1;
}

.trafficlight {
	display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	margin-top: 25px;
	background-color: #fff;
    border-radius: 0 0 4px 4px;
}