.studypreference-wrapper {
	clear: both;
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #428bca;
	padding: 0 10px;
	margin-bottom: 20px;
	position: relative;
}

input.studypreference-radio {
	display: none;
}

label.studypreference-label {
	cursor: pointer;
	float: left;
	border: 1px solid #aaa;
	border-bottom: 0;
	margin: 0 -1px 0 0;
	padding: .5em 1em;
	position: relative;
}

label.studypreference-label:hover {
	background-color: #eee;
}

input.questions_range {
	width: 30%;
}